<template>
    <v-app
        id="inspire"
        >
        <v-navigation-drawer
                v-model="drawer"
                clipped
                fixed
                dark
                app
        >
            <v-list>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <nuxt-link to="/dashboard">
                        <v-list-tile-title>Home</v-list-tile-title>
                    </nuxt-link>
                </v-list-tile>

                <v-list-tile>

                    <v-list-tile-action>
                        <v-icon>show_charts</v-icon>
                    </v-list-tile-action>
                    <nuxt-link to="/dashboard/charts">
                        <v-list-tile-title>Gráficos</v-list-tile-title>
                    </nuxt-link>

                </v-list-tile>

                <v-list-group
                        v-for="(menu, i) in menus"
                        :prepend-icon="menu.icon"
                        :key="i"
                >

                    <v-list-tile slot="activator">
                        <v-list-tile-title>{{ menu.text }}</v-list-tile-title>
                    </v-list-tile>

                    <v-list-group
                            sub-group
                            no-action
                    >
                        <v-list-tile slot="activator">
                            <v-list-tile-title>Acciones</v-list-tile-title>
                        </v-list-tile>

                        <v-list-tile
                                v-for="(crud, i) in cruds"
                                :key="i"
                        >
                            <nuxt-link :to="crud[2]+menu.link">
                                <v-list-tile-title v-text="crud[0]"></v-list-tile-title>
                            </nuxt-link>
                            <v-list-tile-action>
                                <v-icon v-text="crud[1]"></v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list-group>
                </v-list-group>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app dark fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Administración</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container fluid fill-height>
                <v-layout>
                    <v-flex shrink>
                        <nuxt></nuxt>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-footer dark app fixed>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            drawer: null,
            menus: [
                {
                    text: 'Usuarios',
                    icon: 'account_circle',
                    link: 'users',
                },
                {
                    text: 'Productos',
                    icon: 'shopping_cart',
                    link: 'products',
                },
                {
                    text: 'Familias',
                    icon: 'category',
                    link: 'family',
                },
                {
                    text: 'Subfamilias',
                    icon: 'category',
                    link: 'subfamily',
                },
            ],
            cruds: [
                ['Crear', 'add','/dashboard/add-'],
                ['Ver', 'insert_drive_file','/dashboard/show-'],
                ['Editar', 'update','/dashboard/update-'],
                ['Borrar', 'delete','/dashboard/delete-']
            ]
        }),
    }
</script>

<style lang="scss" scoped>
    a{
        width: 100%;
        text-decoration: none;
        color:inherit;
    }
</style>