<template>
  <div>
    <v-toolbar dark>
      <v-toolbar-side-icon class="hidden-sm-and-up" @click.stop="open = !open"></v-toolbar-side-icon>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-toolbar-items v-for="(item, idx) in items" :key="idx" class="hidden-xs-only">
          <v-btn flat>
            {{ item.text }}
          </v-btn>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-toolbar-items v-if="!logged">
        <v-btn
            nuxt
            to="/login"
            icon>
          <v-icon>perm_identity</v-icon>
        </v-btn>
        <v-btn
            nuxt
            to="/registro"
            icon>
          <v-icon>person_add</v-icon>
        </v-btn>
      </v-toolbar-items>

      <v-toolbar-items v-else>
        <v-btn icon>
          <v-icon>person</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>logout</v-icon>
        </v-btn>
      </v-toolbar-items>

    </v-toolbar>
    <v-navigation-drawer
            :clipped="$vuetify.breakpoint.lgAndUp"
            v-model="open"
            dark
            fixed
            width="9000"
            class="hidden-sm-and-up responsive-menu"
    >
      <v-list dense>
        <v-toolbar-side-icon @click.stop="open = !open">
          <v-icon>close</v-icon>
        </v-toolbar-side-icon>
          <v-list-group v-for="(item, idx) in items" :key="idx">
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <nuxt />
  </div>
</template>

<script>

  export default {
    data: () => ({
      open: null,
      logged: false,
      items: [
        { icon: 'icono', text: 'Menu 1', link: '/' },
        { icon: 'icono', text: 'Menu 2', link: '/' },
        { icon: 'icono', text: 'Menu 3', link: '/' },
      ],
    }),
  }

</script>

<style lang="scss">
  body,html {
    font-family: 'Nunito', sans-serif !important;

  }
</style>