<template>
    <v-content>
        <nuxt />
    </v-content>
</template>
<style scoped>
    .v-content{
        background-image: url('../assets/img/login-background.jpg');
    }

    .page-enter-active, .page-leave-active {
        transition: opacity .4s;
    }
    .page-enter, .page-leave-to {
        opacity: 0;
    }
</style>