<!DOCTYPE html>
<html data-n-head="">
  <head>
    <meta data-n-head="true" charset="utf-8"/><meta data-n-head="true" name="viewport" content="width=device-width, initial-scale=1"/><meta data-n-head="true" data-hid="description" name="description" content="{{ description }}"/><title data-n-head="true">Panel VOIP</title><link data-n-head="true" rel="icon" type="image/x-icon" href="/favicon.ico"/><link data-n-head="true" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/><link rel="preload" href="/_nuxt/manifest.7550ffb55bd87e90afab.js" as="script" /><link rel="preload" href="/_nuxt/vendor.816e5a2c92c94fad0a91.js" as="script" /><link rel="preload" href="/_nuxt/app.c1d31d8ac141299e16a1.js" as="script" /><link rel="prefetch" href="/_nuxt/layouts_default.f03ac62ac4b6412a3d32.js" /><link rel="prefetch" href="/_nuxt/pages_dashboard_index.c88fb3be4cfce81d3058.js" /><link rel="prefetch" href="/_nuxt/pages_dashboard_clients__id.a31263039a84600b95c6.js" /><link rel="prefetch" href="/_nuxt/layouts_dashboard.9c0492d15fed80b8fba2.js" /><link rel="prefetch" href="/_nuxt/pages_index.b8204e5b347084f201b1.js" /><link rel="prefetch" href="/_nuxt/pages_dashboard_clients_index.22688c14ec4be85f5541.js" />
  </head>
  <body data-n-head="">
    <div id="__nuxt"><style>body, html, #__nuxt {  background-color: white;  width: 100%;  height: 100%;  display: flex;  justify-content: center;  align-items: center;  margin: 0;  padding: 0;}.spinner {  width: 40px;  height: 40px;  margin: 100px auto;  background-color: #dbe1ec;  border-radius: 100%;  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;  animation: sk-scaleout 1.0s infinite ease-in-out;}@-webkit-keyframes sk-scaleout {  0% { -webkit-transform: scale(0) }  100% {    -webkit-transform: scale(1.0);    opacity: 0;  }}@keyframes sk-scaleout {  0% {    -webkit-transform: scale(0);    transform: scale(0);  } 100% {    -webkit-transform: scale(1.0);    transform: scale(1.0);    opacity: 0;  }}</style><div class="spinner">  <div class="double-bounce1"></div>  <div class="double-bounce2"></div></div><!-- http://tobiasahlin.com/spinkit --></div>
  <script type="text/javascript" src="/_nuxt/manifest.7550ffb55bd87e90afab.js"></script><script type="text/javascript" src="/_nuxt/vendor.816e5a2c92c94fad0a91.js"></script><script type="text/javascript" src="/_nuxt/app.c1d31d8ac141299e16a1.js"></script></body>
</html>
