<template>
    <no-ssr>
        <v-app id="inspire">
            <v-content>
                <v-container
                        fluid
                        fill-height
                >
                    <v-layout
                            align-center
                            justify-center
                    >
                        <v-flex
                                xs12
                                sm9
                                md4
                        >
                            <v-card
                                    class="elevation-24"
                            >
                                <v-toolbar
                                        dark
                                        color="primary"
                                >
                                    <v-toolbar-title>Registro</v-toolbar-title>
                                </v-toolbar>
                                <v-card-text>
                                    <v-form
                                            ref="form"
                                            v-model="valid"
                                    >
                                        <v-text-field
                                                v-model="firstName"
                                                :rules="firstNameRules"
                                                prepend-icon="person"
                                                name="firstName"
                                                label="Nombre"
                                        ></v-text-field>
                                        <v-text-field
                                                v-model="nickName"
                                                :rules="firstNameRules"
                                                prepend-icon="person"
                                                name="nickName"
                                                label="Nick"
                                        ></v-text-field>
                                        <v-text-field
                                                v-model="email"
                                                :rules="emailRules"
                                                prepend-icon="email"
                                                name="email"
                                                label="Email"
                                                type="email"
                                        ></v-text-field>
                                        <v-text-field
                                                v-model="password"
                                                :rules="passwordRules"
                                                id="password"
                                                :counter="4"
                                                prepend-icon="lock"
                                                name="password"
                                                label="Contraseña "
                                                type="password"
                                        ></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <div id="centered-buttons">
                                        <v-btn
                                                color="success"
                                                nuxt
                                                to="/login"
                                        >
                                            Iniciar Sesión
                                        </v-btn>
                                        <v-btn
                                                v-on:click="onSubmit"
                                                color="error"
                                        >
                                            Registrarse
                                        </v-btn>
                                    </div>
                                </v-card-actions>
                            </v-card>
                            <Modal msg="Ha ocurrido un error al registrar tu usuario" @loadingChange="changeStatus"></Modal>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>

        </v-app>

    </no-ssr>
</template>

<script>
    import Modal from '~/components/modal';
    export default {
        layout: 'start',
        components: {
            Modal
        },
        data: () => ({
            valid: false,
            nickName: '',
            password: '',
            passwordRules: [
                v => !!v || 'La contraseña es necesaria',
                v => (v && v.length >= 4) || 'La contraseña es muy corta',
            ],
            email: '',
            emailRules: [
                v => !!v || 'El email es necesario',
                v => /.+@.+/.test(v) || 'El email no es valido'
            ],
            firstName: '',
            firstNameRules: [
                v => !!v || 'El nombre es necesario',
            ],
        }),
        methods: {
            changeStatus(){
               this.dialog = false;
               this.loading = false;
             },
             onSubmit: async function(){
                this.$refs.form.validate();
                if(this.valid){
                    const data = {
                        name: this.firstName,
                        email: this.email,
                        nick: this.nickName,
                        password: this.password,
                    };
                    await this.$store.dispatch('auth/register', data);
                 }
            }
        }

    };
</script>

<style scoped>
    .v-content{
        background-image: url('../assets/img/login-background.jpg');
    }
    #centered-buttons {
        margin: 0 auto;
    }
</style>