<template>
    <div>
        DASHBOARD INDEX
    </div>
</template>

<script>
    export default {
        layout: 'dashboard',
        data: () => ({
        }),

    };
</script>

<style lang="sass" scoped>

</style>