<template>
    <v-dialog
            v-model="dialog"
            width="500"
    >
        <v-card>
            <v-card-title
                    class="headline primary white--text"
                    primary-title
            >
                Ha ocurrido un error :(
            </v-card-title>

            <v-card-text
                class="text-lg-center">
                {{ msg }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="primary"
                        flat
                        v-on:click="changeLoading"
                >
                    Aceptar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    import { mapState } from 'vuex';
    export default {
        props: [
            'msg'
        ],
        computed: {
            ...mapState({
                dialog: state => state.auth.dialog
            })
        },
        methods: {
            changeLoading() {
                this.$store.commit('auth/modal');
            }
        }
    }
</script>