<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td>{{props.item.id}}</td>
      <td class="text-xs-center">{{ props.item.name }}</td>
      <td class="text-xs-center">{{ props.item.state }}</td>
      <td class="text-xs-center">{{ props.item.credito }}</td>
      <td class="text-xs-center">{{ props.item.limite }}</td>
      <td class="text-xs-center">{{ props.item.nodo }}</td>
      <td class="text-xs-center">{{ props.item.cantidad }}</td>
      <td class="text-xs-center">{{ props.item.created_at }}</td>
      <td class="text-xs-center">{{ props.item.updated_at }}</td>
      
      <td class="text-xs-center">
        <nuxt-link :to="'/dashboard/clients/'+props.item.id">
          <v-icon color="blue">
            edit
          </v-icon>
        </nuxt-link>
        <v-icon v-on:click="deleteClient(props.item.id)" color="red">
          delete
        </v-icon>
      </td>
    </template>
  </v-data-table>
</template>
<script>

  export default {
    data () {
      var desserts = [];
      for(let i = 0; i < this.$store.state.clients.clients.length; i++){
        const clients = {
          value: false,
          id: this.$store.state.clients.clients[i].id,
          name: this.$store.state.clients.clients[i].name,
          state: this.$store.state.clients.clients[i].state,
          credito: this.$store.state.clients.clients[i].credito,
          limite: this.$store.state.clients.clients[i].limite,
          nodo: this.$store.state.clients.clients[i].nodo,
          cantidad: this.$store.state.clients.clients[i].cantidad,
          created_at: this.$store.state.clients.clients[i].created_at,
          updated_at: this.$store.state.clients.clients[i].updated_at,
        };
        desserts.push(clients)
      }
      return {
        headers: [
          { text: 'Id', value: 'id' },
          { text: 'Nombre', value: 'name' },
          { text: 'Estado', value: 'state' },
          { text: 'Credito', value: 'credito' },
          { text: 'Limite', value: 'limite' },
          { text: 'Nodo', value: 'nodo' },
          { text: 'Cantidad', value: 'cantidad' },
          { text: 'Creado', value: 'created_at' },
          { text: 'Actualizado', value: 'updated_at' },
          { text: 'Acciones', value: 'actions' },
        ],
        desserts
        
      }
    },
    methods: {
      deleteClient: function(id){
        

        if ( confirm("¿Borrar este usuario?") === true ){
          for ( let i = 0; i < this.desserts.length; i++) {
          
            if(this.desserts[i].id === id){
              this.desserts.splice(i,1);
              this.$store.commit('clients/deleteClient', id);
            }
          }
        }

      }
    }
  }
</script>

<style lang="scss" scoped>
  i {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
</style>
